# Dependencies
node_modules/
.pnpm-store/

# Production
.next/
out/
build/
dist/

# Misc
.DS_Store
*.pem

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database
dev.db
dev.db-shm
dev.db-wal

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
